# Import Library

In [1]:
# Import Libraries
import pandas as pd
import numpy as np
import os

## Content

### 1. Import Data
### 2. Merge Data
### 3. Export Data

#### 1. Import Data

In [2]:
# String for Main Project Folder
path = r'C:\Users\ifari\12-2022 Instacart Basket Analysis'

In [3]:
# String to import Data Folder containing products_checked.csv
df_prods = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'products_checked.csv'), index_col = False)

In [4]:
# Drop extra index and resetting index
df_prods = df_prods.drop(df_prods.columns[0], axis = 1)

In [5]:
# String to import Data Folder containing orders_products_combined.pkl
df_ords_prods = pd.read_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_combined.pkl'))

In [6]:
# Drop merge column
df_ords_prods = df_ords_prods.drop(columns = ['_merge'])

In [7]:
# Dimenstions of combined dataframe
df_ords_prods.shape

(32434489, 9)

> Dimensions of the imported dataframe match the dimensions of the exported dataframe.

#### 2. Merge 'orders_products_combined' and 'products'

In [8]:
# First 5 rows of df_prods
df_prods.head()

,product_id,product_name,aisle_id,department_id,prices
0,1,Chocolate Sandwich Cookies,61,19,5.8
1,2,All-Seasons Salt,104,13,9.3
2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,5,Green Chile Anytime Sauce,5,13,4.3

In [9]:
# Dimenstions of 'products_checked' dataframe
df_prods.shape

(49672, 5)

In [10]:
# First 5 rows of df_ords_prods
df_ords_prods.head()

,order_id,user_id,order_number,orders_day_of_week,time_of_order,days_since_prior_order,product_id,add_to_cart_order,reordered
0,2539329,1,1,2,8,NaN,196,1,0
1,2539329,1,1,2,8,NaN,14084,2,0
2,2539329,1,1,2,8,NaN,12427,3,0
3,2539329,1,1,2,8,NaN,26088,4,0
4,2539329,1,1,2,8,NaN,26405,5,0

In [11]:
# Dimenstions of 'orders_products_combined' dataframe
df_ords_prods.shape

(32434489, 9)

In [12]:
# First 5 rows of the combined dataframes of 'products_checked' and 'orders_products_combined'
df_merged_comb = df_ords_prods.merge(df_prods, on = 'product_id', indicator = True)
df_merged_comb.head()

,order_id,user_id,order_number,orders_day_of_week,time_of_order,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge
0,2539329,1,1,2,8,NaN,196,1,0,Soda,77,7,9.0,both
1,2398795,1,2,3,7,15.0,196,1,1,Soda,77,7,9.0,both
2,473747,1,3,3,12,21.0,196,1,1,Soda,77,7,9.0,both
3,2254736,1,4,4,7,29.0,196,1,1,Soda,77,7,9.0,both
4,431534,1,5,4,15,28.0,196,1,1,Soda,77,7,9.0,both

In [13]:
# Dimenstions of merged dataframe
df_merged_comb.shape

(32404859, 14)

In [14]:
# Frequency of the values in the '_merge' column
df_merged_comb['_merge'].value_counts()

both          32404859
left_only            0
right_only           0
Name: _merge, dtype: int64

#### 3. Export Merged Dataframe

In [15]:
# Export data in pickle format
df_merged_comb.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_merged.pkl'))